<h2 class="result-title">Biodatas</h2>

<div class="profiles-grid">
  
  <div class="profile-card" *ngFor="let p of profiles">

    <div class="left">
      <img [src]="p.avatar" class="avatar">
    </div>

    <div class="right">
      <h3 class="code">{{ p.bioDataCode }}</h3>
      <p>Age {{ p.age }}</p>
      <p>Height {{ p.height }}</p>
      <p>profession {{ p.profession }}</p>

      <button class="view-btn" (click)="goToBioDetails(p.bioDataCode)">Biodata →</button>
    </div>

  </div>

</div>
