<!-- Header -->
<app-header></app-header>

<div class="login-wrapper">
  <div class="login-card">

    <h2 class="title">একাউন্টে লগইন করুন</h2>

    <!-- Google Login Button (Rendered by Google) -->
    <div id="googleBtn" class="google-btn-wrapper"></div>

   

    <p class="divider-text">অথবা</p>

    <p class="no-account">একাউন্ট নেই?</p>

    <!-- Create Account -->
    <button class="btn create-btn" >
      <span>+</span> একাউন্ট তৈরি করুন
    </button>

  </div>
</div>

<app-footer></app-footer>
