<div class="filter-box">

  <h2 class="filter-title">Filters</h2>

  <!-- Biodata Number -->
  <div class="filter-group">
    <label>Biodata Number</label>
    <input
      type="text"
      class="form-control custom-input"
      placeholder="0000"
      [(ngModel)]="filters.biodataNo">
  </div>

  <!-- Category -->
  <div class="filter-group">
    <label>I'm looking for</label>

     <select class="form-select custom-input"
          [(ngModel)]="filters.biodataType">
    <option value="" selected disabled>Please Select</option>  <!-- default selection -->
    <option *ngFor="let item of BiodataTypeList" [value]="item.key">
      {{ item.value }}
    </option>
  </select>
  </div>

  <!-- Marital -->
  <div class="filter-group">
    <label>Marital Status</label>

    <select class="form-select custom-input"
            [(ngModel)]="filters.maritalStatus">
      <option value="">Please Select</option>
      <option *ngFor="let item of MeritalStatusList" [value]="item.key">
        {{ item.value }}
      </option>
    </select>
  </div>

  <!-- Age -->
  <div class="filter-group">
    <label>Age</label>

    <div class="age-range">
      <span>{{filters.ageMin}}</span>
      <input type="range" min="18" max="60" [(ngModel)]="filters.ageMin">

      <span>{{filters.ageMax}}</span>
      <input type="range" min="18" max="60" [(ngModel)]="filters.ageMax">
    </div>
  </div>

  <!-- Search Button -->
  <button class="btn btn-search w-100" (click)="onSearch()">
    🔍 Search Biodata
  </button>

</div>
