<div class="filter-box">

  <h2 class="filter-title">Search Filters</h2>

  <div class="filter-group">
    <label>Biodata Number</label>
    <input
      type="text"
      placeholder="Enter Biodata No"
      [(ngModel)]="filters.biodataNo">
  </div>

  <div class="filter-group">
    <label>I'm looking for</label>
    <select [(ngModel)]="filters.biodataType">
      <option value="" disabled selected>Please Select</option>
      <option *ngFor="let item of BiodataTypeList" [value]="item.key">
        {{ item.value }}
      </option>
    </select>
  </div>

  <div class="filter-group">
    <label>Marital Status</label>
    <select [(ngModel)]="filters.maritalStatus">
      <option value="">Please Select</option>
      <option *ngFor="let item of MeritalStatusList" [value]="item.key">
        {{ item.value }}
      </option>
    </select>
  </div>

  <div class="filter-group">
    <label>Age Range</label>

    <div class="range-display">
      <span>{{filters.ageMin}}</span>
      <span>{{filters.ageMax}}</span>
    </div>

    <input type="range" min="18" max="60" [(ngModel)]="filters.ageMin">
    <input type="range" min="18" max="60" [(ngModel)]="filters.ageMax">
  </div>

  <button class="btn-search" (click)="onSearch()">
    Search Biodata
  </button>

</div>
