<div class="wrap">

  <!-- Header -->
  <app-header></app-header>

  <!-- Hero + Sidebar -->
  <section class="hero">

    <!-- Hero Card -->
    <div class="hero-card">
      <div class="overlay">
        <h2 class="title">
          A Trusted Matchmaking Platform for Local & Overseas Brides and Grooms
        </h2>

        <p class="lead">
          A secure and respectful space for serious marriage seekers — verified profiles,
          family-friendly communication, and guidance aligned with ethical values.
        </p>

        <!-- Search Form -->
        <form class="search" (ngSubmit)="onSearch()">
          <div class="field">
            <label>I am looking for</label>
         
             <select class="form-select custom-input"
                    [(ngModel)]="filters.biodataType">
                  <option value="" selected>Please Select</option>
                  <option *ngFor="let item of BiodataTypeList" [value]="item.key">
                    {{ item.value }}
                  </option>
              </select>
          </div>

          <div class="field">
            <label>Country</label>
            <select [(ngModel)]="filters.country" name="country">
              <option value="">Any Country</option>
              <option>Bangladesh</option>
              <option>United Kingdom</option>
              <option>Saudi Arabia</option>
              <option>United States</option>
            </select>
          </div>

          <div class="field">
            <label>Age Range</label>
            <input [(ngModel)]="filters.age" name="age" placeholder="25 - 32" />
          </div>

          <div class="field full">
            <button class="btn" type="submit" (click)="goToProfile()">
              Find Matches
            </button>
          </div>

          <div class="stats full">
            <div class="stat">18,500+ Active Profiles</div>
            <div class="stat">3,200+ Verified Members</div>
            <div class="stat">Trusted Worldwide Community</div>
          </div>
        </form>
      </div>
    </div>

  </section>

  <section style="margin-bottom:18px">
    <app-tutorial></app-tutorial>
  </section>

  <!-- Stats Counter -->
  <section style="margin-bottom:18px">
    <app-stats-counter></app-stats-counter>
  </section>

  <section style="margin-bottom:18px">
    <app-how-itwork></app-how-itwork>
  </section>

  <section style="margin-bottom:18px">
    <app-footer></app-footer>
  </section>

</div>
